# Sets

In [1]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}

In [14]:
# syntax
fruits = {'banana', 'orange', 'mango', 'lemon'}
print(fruits)

{'banana', 'orange', 'mango', 'lemon'}

In [3]:
len(fruits)

4

In [4]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
'mango' in fruits

True

In [6]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.add('lime')
print(fruits)

{'lime', 'mango', 'lemon', 'banana', 'orange'}

In [9]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')
c = fruits.update(vegetables)
print(c)

None

In [10]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes the last element from the set

'banana'

In [11]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.clear()
print(fruits) # set()

set()

In [12]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
del fruits

### Converting List to Set

In [13]:
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']
fruits = set(fruits) 
print(fruits)

{'banana', 'orange', 'mango', 'lemon'}

### Joining Sets

In [15]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables))

{'carrot', 'tomato', 'onion', 'cabbage', 'mango', 'lemon', 'potato', 'banana', 'orange'}

- Update This method inserts a set into a given set

In [16]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
print(fruits)

{'carrot', 'tomato', 'onion', 'cabbage', 'mango', 'lemon', 'potato', 'banana', 'orange'}

### Finding Intersection Items

In [20]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
print(whole_numbers.intersection(even_numbers)) # {0, 2, 4, 6, 8, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
print(python.intersection(dragon))     # {'o', 'n'}

{0, 2, 4, 6, 8, 10}
{'n', 'o'}